<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>File Viewer</title>

        <link rel="stylesheet" href="/static/style.css" />
        <script src="/static/index.js"></script>
        <script
            src="https://kit.fontawesome.com/118853f8db.js"
            crossorigin="anonymous"
        ></script>
    </head>
    <body>
        <div class="container">
            {{#if parent}}
                <div class="card">
                    <a class="card-content" href="{{parent}}">
                        <i class="fa-solid fa-arrow-up icon"></i>
                    </a>
                </div>
            {{/if}}
            {{#each folders}}
                <div class="card">
                    <button
                        class="fa-solid fa-trash trash"
                        onclick="remove('{{this.name}}')"
                    ></button>
                    <a class="card-content" href="{{this.path}}{{this.name}}">
                        <i class="fa-solid fa-folder icon folder"></i><span
                            class="name"
                        >{{this.name}}</span>
                    </a>
                </div>
            {{/each}}
            {{#each files}}
                <div class="card">
                    <button
                        class="fa-solid fa-trash trash"
                        onclick="remove('{{this.name}}')"
                    ></button>
                    <a class="card-content" href="{{this.path}}{{this.name}}">
                        <i class="fa-solid fa-file icon file"></i><span
                            class="name"
                        >{{this.name}}</span>
                    </a>
                </div>
            {{/each}}

            <div class="plus dropdown">
                <i class="fa-solid fa-plus icon dropdownbtn"></i>
                <div class="dropdown-content">
                    <a href="javascript:newFolder()">New folder</a>
                    <a href="javascript:uploadFiles()">Upload files</a>
                </div>
            </div>
        </div>

        <div id="modal">
            <div id="modal-content"></div>
        </div>
    </body>
</html>