<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="icon" href="/static/favicon.ico" type="image/x-icon">

        <title>File Viewer</title>

        <link rel="stylesheet" href="/static/style.css" />
        <script>
            var path = "{{{path}}}";
        </script>
        <script src="/static/index.js"></script>
        <script
            src="https://kit.fontawesome.com/118853f8db.js"
            crossorigin="anonymous"
        ></script>
    </head>
    <body onload="onLoad()">
        <div class="container">
            {{#if parent}}
                <div class="card">
                    <a class="card-content" href="{{{parent}}}">
                        <i class="fa-solid fa-arrow-up icon"></i>
                    </a>
                </div>
            {{/if}}
            {{#each folders}}
                <div class="card removable">
                    <button class="fa-solid fa-trash trash" name="{{{this}}}"></button>
                    <a class="card-content" href="{{{../path}}}{{{this}}}">
                        <i class="fa-solid fa-folder icon folder"></i><span
                            class="name"
                        >{{{this}}}</span>
                    </a>
                </div>
            {{/each}}
            {{#each pdfs}}
                <div class="card removable">
                    <button class="fa-solid fa-trash trash" name="{{{this}}}"></button>
                    <a class="card-content" href="{{{../path}}}{{{this}}}" target="_blank" rel="noopener noreferrer">
                        <i class="fa-solid fa-file-pdf icon pdf"></i><span
                            class="name"
                        >{{{this}}}</span>
                    </a>
                </div>
            {{/each}}
            {{#each others}}
                <div class="card removable">
                    <button class="fa-solid fa-trash trash" name="{{{this}}}"></button>
                    <a class="card-content" href="{{{../path}}}{{{this}}}">
                        <i class="fa-solid fa-file icon other"></i><span
                            class="name"
                        >{{{this}}}</span>
                    </a>
                </div>
            {{/each}}

            <div class="plus dropdown">
                <i class="fa-solid fa-plus icon dropdownbtn"></i>
                <div class="dropdown-content">
                    <a href="javascript:newFolder()">New folder</a>
                    <a href="javascript:uploadFiles()">Upload files</a>
                </div>
            </div>
        </div>

        <div id="modal">
            <div id="modal-content"></div>
        </div>
    </body>
</html>